html {
    overflow: hidden;
    /* Avoid extra space at the bottom */
    position: fixed;
    width: 100%;
    height: 100%;
}
i {
    font-style: italic !important;
}
#app {
    overflow-x: hidden;
}
a:has(>code) {
    text-decoration: none;
}

div.bx--snippet-container::-webkit-scrollbar-track,
div.bx--snippet-container > pre::-webkit-scrollbar-track,
div.bx--modal-content::-webkit-scrollbar-track,
div.scrollable::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track,
main::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
div.bx--snippet-container::-webkit-scrollbar,
div.bx--snippet-container > pre::-webkit-scrollbar,
div.scrollable::-webkit-scrollbar,
div.bx--modal-content::-webkit-scrollbar,
aside::-webkit-scrollbar,
main::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}
div.bx--snippet-container::-webkit-scrollbar-thumb,
div.bx--snippet-container > pre::-webkit-scrollbar-thumb,
div.scrollable::-webkit-scrollbar-thumb,
div.bx--modal-content::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb
{
    background-color: #535353;
    border-radius: 6px;
}

.model-error .bx--modal-close {
    display: none;
}

.model-error .bx--modal-container {
    background-color: rgb(255, 236, 229);
}

.model-error .bx--modal-header {
    background-color: lightsalmon;
}

.model-error .bx--modal-header {
    padding: 1rem;
}

input::placeholder {
    color: #b6b6b6;
}

.bx--text-area {
    line-height: 1.2rem !important;
    min-height: auto !important;
    resize: both;
}

.bx--toast-notification {
    position: fixed;
    bottom: 0.5rem;
    right: 0.1rem;
    z-index: 1000;
}

.bx--text-input__label-helper-wrapper {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* max-width: 10rem; */
    min-width: 8rem;
}

button.navitem.errored {
    color: rgb(211, 0, 0);
}

button.show-hidden {
    margin-top: 0.5rem;
    background-color: #bbcfff;
    font-size: .8rem;
    padding: 0 1.8rem;
}

div.draggable {
    background-color: #dcdcdc;
    background-image: linear-gradient(
        90deg,
        rgba(134,134,134,1) 0%,
        rgba(134,134,134,1) 35%,
        rgba(220,220,220,1) 36%,
        rgba(220,220,220,1) 64%,
        rgba(134,134,134,1) 65%,
        rgba(134,134,134,1) 100%
    );
    background-size: 100% 2rem;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    cursor: col-resize;
}
div.draggable.row {
    background-image: linear-gradient(
        0deg,
        rgba(134,134,134,1) 0%,
        rgba(134,134,134,1) 35%,
        rgba(220,220,220,1) 36%,
        rgba(220,220,220,1) 64%,
        rgba(134,134,134,1) 65%,
        rgba(134,134,134,1) 100%
    );
    background-size: 2rem 100%;
    background-position: 50% 100%;
    cursor: row-resize;
}
div.draggable:hover {
    background-color: #868686;
}

div.joblist button {
    min-width: 3rem;
}

div.joblist button.bx--tag span {
    font-family: IBM Plex Mono,Menlo,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier,monospace;
}

div.joblist button.bx--tag.selected {
    box-shadow: inset 0 0 0 1px #393939;
}

div.joblist button.bx--tag.bx--tag--gray {
    background-color: #d1d1d1;
}

div.joblist button.bx--tag.running {
    background-color: #bae6ff;
    animation: running-tag .5s cubic-bezier(0.81, -0.05, 0.03, 1.06) infinite;
}

div.procrun-wrap div.tree > label {
    display: block;
    padding: 0.4rem 0.8rem;
    border: 1px solid #bfbfbf;
}

div.procrun-wrap div.tree.failed > label {
    background-color: #ffd7d9;
}

div.procrun-wrap div.tree.succeeded > label {
    background-color: #a7f0ba;
}

div.procrun-wrap div.tree.running > label {
    background-color: #bae6ff;
    animation: running-tag .5s cubic-bezier(0.81, -0.05, 0.03, 1.06) infinite;
}

div.procrun-wrap div.tree.killed > label {
    background-color: #ffd6e8;
}

main label.bx--label--inline--sm {
    font-weight: bold;
}

@keyframes running-tag {
    from {background-color: #bae6ff; }
    to {background-color: #e3baff;}
}

div.joblist button.bx--tag:first-child {
    margin-left: 0;
}

div.tree .bx--tree-node {
    cursor: default;
}

.bx--text-input-wrapper.bx--text-input-wrapper--inline {
    flex-flow: row nowrap !important;
    align-items: baseline;
    min-height: 2rem;
}

.bx--toast-notification {
    width: 33% !important;
}

.ns-wrapper .bx--text-input__label-helper-wrapper {
    margin-right: 0;
}

.bx--toast-notification ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: .5rem;
}

.bx--multi-select__wrapper.bx--list-box__wrapper {
    min-width: 12rem;
}

.pipen-cli-config-loading.bx--loading-overlay::after {
    content: var(--content);
    position: absolute;
    top: calc(50% + 5.5rem / 2 + 1rem);
    color: white;
    white-space: pre;
    text-align: center;
    line-height: 1.3rem;
}

.ns-desc * {font-size: .8rem; line-height: 1.1rem;}
.ns-desc code {
    font-size: .75rem;
    border: 1px solid #aaa;
    background-color: #eee;
    color: #333;
    padding: 0.05rem 0.3rem;
    border-radius: 0.3rem;
}
.ns-desc pre {
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0;
    border: 1px solid #aaa;
    background-color: #eee;
    color: #333;
    border-radius: 0.3rem;
    line-height: 1rem;
}
.ns-desc pre code {
    font-size: .8rem;
    border: none;
    color: #333;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
}
.ns-desc a > code {
    color: #6969ff;
    border: 1px solid #3838dd;
}
.ns-desc a:hover > code {
    color: #ff8e4e;
    border: 1px solid #c55e24;
}
/* Make the tooltip below visible */
.bx--text-input__label-helper-wrapper {
    overflow: visible;
}
div.linked-pgarg-label,
div.textinput-wrapper.linked-pgarg label.bx--label--inline {
    text-decoration: underline;
    cursor: alias;
    position: relative;
}
div.linked-pgarg-label::after,
div.textinput-wrapper.linked-pgarg label.bx--label--inline::after {
    content: var(--pgarg);
    position: absolute;
    top: -100%;
    left: -120%;
    transform: translateY(-50%);
    padding: 0.25rem 0.5rem;
    background-color: #464646;
    color: #fff;
    border-radius: 0.2rem;
    font-size: 0.75rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 9999;
    font-weight: normal;
    font-style: normal;
}
div.linked-pgarg-label:hover::after,
div.textinput-wrapper.linked-pgarg label.bx--label--inline:hover::after {
    opacity: 1;
}
div.description code, div.running-confirm-modal code {
    font-size: .8rem;
    border: 1px solid #aaa;
    background-color: #eee;
    color: #333;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
}
div.description pre {
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0;
    border: 1px solid #aaa;
    background-color: #fafafa;
    color: #333;
    border-radius: 0.2rem;
}
div.description pre code {
    font-size: .8rem;
    border: none;
    color: #333;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
}

div.pipen-tabs a.bx--tabs__nav-link{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}
div.pipen-tabs .bx--tab-content{
    padding: 0;
    min-height: 0;
}

button.run-status-succeeded > span::after {
    content: "✔";
    padding-left: 5px;
    color: #008d00;
    vertical-align: middle;
    font-size: .8rem;
}

button.run-status-failed > span::after {
    content: "✘";
    padding-left: 5px;
    color: #8d0000;
    vertical-align: middle;
    font-size: .8rem;
}

button.run-status-init > span::after {
    /* question mark */
    content: "❓";
    padding-left: 5px;
    font-size: .8rem;
    margin-left: -.2rem;
}

aside:not(.errored) button.run-status-running > span::after {
    content: "⏳";
    padding-left: 5px;
    font-size: .8rem;
    margin-left: -.2rem;
    display: inline-block;
    animation: running-dot 1s cubic-bezier(0, 1.59, 1, -0.37) infinite;
    transform-origin: 60% 60%;
}

aside.errored button.run-status-running > span::after,
aside.errored button.log > span::after {
    content: "❗";
    padding-left: 5px;
    font-size: .8rem;
    margin-left: -.2rem;
    display: inline-block;
}

div.run-log .bx--snippet--multi {
    max-width: none;
}

div.pipen-tabs ul.bx--tabs__nav {
    overflow: hidden;
}

div.pipen-tabs li.run-tab {
    background-image: linear-gradient(
        90deg,
        #cfffda var(--n_succ),
        #ffdad9 var(--n_succ),
        #ffdad9 calc(var(--n_succ) + var(--n_fail)),
        #b0c4ff calc(var(--n_succ) + var(--n_fail)),
        #b0c4ff calc(var(--n_succ) + var(--n_fail) + var(--n_run)),
        transparent calc(var(--n_succ) + var(--n_fail) + var(--n_run))
    );
}

div.pipen-tabs li:not(.errored).run-tab.running::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 3px solid #7799ff;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: running-dot 1s linear infinite;
    position: absolute;
    right: 1rem;
    top: calc(50% - 8px);
}

@keyframes running-dot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

div.center-wrapper {
    margin: 2rem auto;
    width: fit-content;
}

div.center-wrapper .bx--inline-loading {
    width: fit-content;
}

.bx--list-box__menu {
    width: fit-content !important;
}

/* Place the scroll bar on the left side */
aside.left, aside.run-nav {
    direction: rtl;
}

aside.left *, aside.run-nav * {
    direction: ltr;
}

/* Labels for readonly options */
.bx--text-input-wrapper--readonly .bx--label, .readonly-label {
    color: #5252528c;
    font-style: italic;
}

@media (min-width: 640px) {
    .accordion-less-padding-right .bx--accordion__content {
        padding-right: 3rem;
    }
}

/* move icons of buttons to the left */
button.bx--btn > svg {
    left: 1rem;
}

button.bx--btn--sm:has(svg) {
    padding-left: 2.75rem;
    padding-right: 1.75rem;
}
