[tool.poetry]
name = "pipen-board"
version = "0.8.1"
description = "Visualization configuration and running of pipen pipelines on the web"
authors = ["pwwang <pwwang@pwwang.com>"]
license = "MIT"
readme = "README.md"
exclude = ["pipen_board/frontend/[!build]*", "pipen_board/frontend/index.html"]

[tool.poetry.build]
generate-setup-file = true

[tool.poetry.dependencies]
python = "^3.8"
quart = "^0.18"
pipen-args = "^0.10.0"
websocket-client = "^1.5"
pipen-log2file = "^0.3.0"
psutil = "^5.9.5"
pipen-report = { version = "^0.12.6", optional = true }
python-slugify = "^8.0.1"

[tool.poetry.extras]
report = ["pipen-report"]

[tool.poetry.plugins.pipen]
board = "pipen_board:pipen_board_plugin"

[tool.poetry.plugins.pipen_cli]
cli-board = "pipen_board:PipenCliBoardPlugin"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
target-version = ['py37', 'py38', 'py39', 'py310']
include = '\.pyi?$'
