[tool.poetry]
name = "pipen-board"
version = "0.15.0"
description = "Visualization configuration and running of pipen pipelines on the web"
authors = ["pwwang <pwwang@pwwang.com>"]
license = "MIT"
readme = "README.md"
exclude = ["pipen_board/frontend/[!build]*", "pipen_board/frontend/index.html"]

[tool.poetry.build]
generate-setup-file = true

[tool.poetry.dependencies]
python = "^3.9"
quart = "^0.19"
pipen-args = "^0.14"
websocket-client = "^1.7"
pipen-log2file = "^0.7"
psutil = "^5.9"
pipen-report = { version = "^0.18", optional = true }
pipen-diagram = { version = "^0.11", optional = true }
pipen-filters = { version = "^0.12", optional = true }
python-slugify = "^8.0"

[tool.poetry.extras]
report = ["pipen-report"]
diagram = ["pipen-diagram"]
filters = ["pipen-filters"]

[tool.poetry.plugins.pipen]
board = "pipen_board:pipen_board_plugin"

[tool.poetry.plugins.pipen_cli]
cli-board = "pipen_board:PipenCliBoardPlugin"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
target-version = ['py39', 'py310', 'py311']
include = '\.pyi?$'
